.root {
    -fx-background-color: #2e2e2e;
}

.list-view {
    -fx-background-color: #3c3c3c;
    -fx-border-color: #555555;
    -fx-border-width: 1;
    -fx-text-fill: #ffffff;
}

.list-view .list-cell {
    -fx-border-color: #555555;
    -fx-border-width: 1;
}

.text-area {
    -fx-background-color: #4e4e4e;
    -fx-border-color: #555555;
    -fx-border-radius: 5;
    -fx-text-fill: #343434;
}

.button {
    -fx-background-color: #5f5f5f;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #4f4f4f;
}

.button:pressed {
    -fx-background-color: #3a3a3a;
}

.label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.table-view {
    -fx-background-color: #3c3c3c;
    -fx-border-color: #555555;
    -fx-border-width: 1;
    -fx-table-cell-border-color: #555555;
    -fx-table-header-border-color: #555555;
    -fx-text-fill: #ffffff;
}

.table-view .column-header {
    -fx-background-color: #444444;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.table-view .table-row-cell {
    -fx-background-color: #c2c2c2;
    -fx-border-color: #555555;
    -fx-border-width: 0.5;
}

.table-view .table-row-cell:hover {
    -fx-background-color: #5f5f5f;
}